.App {
  font-family: sans-serif;
  text-align: center;
}
.Grandparent {
  margin: 10px;
  border: 1px solid black;
  background-color: #eee;
}

.Parent {
  margin: 10px;
  border: 1px solid black;
  background-color: #ddd;
}

.Child {
  margin: 10px;
  border: 1px solid black;
  background-color: #ccc;
}

.Grandchild {
  margin: 10px;
  border: 1px solid black;
  background-color: #bbb;
}
